
body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
}

#loginBox {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

#loginBox input:not([type=button]) {
    width: 100px;
}

#chatBox {
    position: relative;
    left: 25%;
    top: 50px;
    width: 50%;
    height: 400px;
    margin: 5px;
}

#infoOutput {
    margin: 0 5px;
    width: 100%;
    border: 2px inset #666;
    height: 26px;
    font-size: 20px;
    background-color: #333;
}

#chatOutput {
    position: relative;
    margin: 0 5px;
    width: 100%;
    height: 100%;
    border: 2px inset #666;
    font-size: 1.5em;
    background-color: #000;
}

#chatInput {
    margin: 5px;
    width: 80%;
    border: 2px solid #444;
    height: 26px;
    font-size: 20px;
}
