.ErrMsg {
    color: red;
    font-weight: bold;
}

.ErrMsgs {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.WarnMsg {
    color: orangered;
    font-size: larger;
    font-weight: bold;
}